@import '../helpers/variables.scss';
html {
	body {
		footer {
			display: block;
			position: relative;

			bottom: 0;

			background: white;
			height: $footer-height;
			// height: $footer-height;
			// background-color: pink;
		}
	}
}
