@import '../helpers/variables.scss';

header {
	height: $header-height;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	transition: 'all 0.4s ease-out';
	// border: 1px solid blue;

	div.left-side-container {
		height: 100%;

		a {
			text-decoration: none;
			span.logo {
				display: block;
				margin: auto;
				margin-top: 15px;
				color: black;
				font-family: $font-logo;
				font-weight: 500;
				font-size: $font-size-logo;
				text-align: center;
			}
		}
	}

	div.right-side-container {
		height: 100%;
	}
}
